<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login | LogiTrack</title>

<link rel="stylesheet" href="../static/css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="login-card">

<div class="top">

<a href="index.html">
<i class="fa-solid fa-arrow-left"></i>
</a>

<h2>Login</h2>

<p>Welcome Back to LogiTrack</p>

</div>

<div class="form">

<input type="text" placeholder="Username">

<input type="password" placeholder="Password">

<div class="forgot">

<a href="#">Forgot Password?</a>

</div>

<button class="loginBtn">

Login

</button>

<div class="or">

OR

</div>

<button class="google">

<i class="fa-brands fa-google"></i>

Continue with Google

</button>

<button class="facebook">

<i class="fa-brands fa-facebook"></i>

Continue with Facebook

</button>

<p class="signup">

Don't have an account?

<a href="register.html">

Signup

</a>

</p>

</div>

</div>

</body>

</html>