{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin Login | LogiTrack</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="login-card">

<div class="top">
<h2>Admin Login</h2>
<p>Welcome Administrator</p>
</div>

{% if messages %}
    {% for message in messages %}
        <p style="color:red; text-align:center;">
            {{ message }}
        </p>
    {% endfor %}
{% endif %}

<form method="POST">
{% csrf_token %}

<input
type="text"
name="username"
placeholder="Admin Username"
required>

<input
type="password"
name="password"
placeholder="Admin Password"
required>

<button
type="submit"
class="loginBtn">
Admin Login
</button>

</form>

<p class="signup">
Back to
<a href="{% url 'home' %}">Home</a>
</p>

</div>

</body>
</html>