{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>LogiTrack</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body class="home-page">

<!-- Navbar -->

<nav class="navbar">

<div class="logo">
📦 LogiTrack
</div>

<div class="nav-links">

<a href="#">Login</a>

<a href="#">Signup</a>

<a href="{% url 'admin_login' %}">Admin Login</a>

</div>

</nav>

<!-- Hero Section -->

<div class="home-container">

<img src="{% static 'images/truck.gif' %}" class="home-truck">

<h1>Fast & Secure Parcel Delivery</h1>

<p>
Track your parcel in real time.<br>
Book parcels easily and receive delivery notifications.
</p>

<div class="home-buttons">

<a href="{% url 'add_parcel' %}">

<button class="book-btn">
📦 Book Parcel
</button>

</a>

<a href="{% url 'track' %}">

<button class="track-btn">
🔍 Track Parcel
</button>

</a>

</div>

</div>

<!-- Features -->

<div class="features">

<div class="feature-card">

<h3>🚚 Fast Delivery</h3>

<p>Quick parcel booking and delivery process.</p>

</div>

<div class="feature-card">

<h3>📍 Live Tracking</h3>

<p>Track your parcel anytime using Tracking ID.</p>

</div>

<div class="feature-card">

<h3>🔔 Notifications</h3>

<p>Get delivery status notifications instantly.</p>

</div>

<div class="feature-card">

<h3>🔒 Secure Service</h3>

<p>Your parcel information is safely stored.</p>

</div>

</div>

<footer>
2026 LogiTrack | Parcel Tracking & Delivery Status Notification System
</footer>

</body>
</html>