<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Register | LogiTrack</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="register-card">

<div class="top">

<a href="{{ url_for('login') }}">
<i class="fa-solid fa-arrow-left"></i>
</a>

<h2>Create Account</h2>

<p>Join LogiTrack Parcel Service</p>

</div>

<form action="{{ url_for('register') }}" method="POST" class="form">

    <input type="text" name="fullname" placeholder="Full Name" required>

    <input type="email" name="email" placeholder="Email Address" required>

    <input type="text" name="mobile" placeholder="Mobile Number" required>

    <input type="text" name="username" placeholder="Username" required>

    <input type="password" name="password" placeholder="Password" required>

    <button type="submit" class="signupBtn">
        Create Account
    </button>

</form>

<p class="signup">

Already have an account?

<a href="{{ url_for('login') }}">Login</a>

</p>

</div>

</div>

</body>

</html>