<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Track Parcel</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="login-card">

<div class="top">

<h2>Track Parcel</h2>

<p>Enter your Tracking ID</p>

</div>

<form class="form" action="/track" method="POST">

<input
type="text"
name="tracking_id"
placeholder="Tracking ID"
required>

<button
type="submit"
class="signupBtn">

Track Parcel

</button>

</form>

</div>

</body>

</html>